.navigation {
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    gap: 400px;
    display: flex;
    justify-content: center;
padding: 20px;
background-color: lightskyblue;

}

footer {
    text-align: center;
    margin-top: 20px;
    height: 50px;

}

header {
    text-align: center;
    color: deepskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.photography {
    color: blue;
    font: oblique medium sans-serif;
    text-align: center;
}
body {
    background-color: lightblue;
}
.about {
    color: darkslategray;
    font: italic medium sans-serif;
    text-align: center;
}
.portfolio {
    color: darkslategray;
    font: italic medium sans-serif;
    text-align: center;
}
.contact {
    color: darkslategray;
    font: italic medium sans-serif;
    text-align: center;
}
img {
    width: 300px;
    height:300px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: rgb(42, 42, 80);

}

p {
    font-family: sans-serif;
    text-align: center;
    color: blue;
    padding: 20px;

}