.navigation {
    width: 99vw;
    border: 1px solid black;
    background-color: blanchedalmond;
    position: fixed;
    top: 0;
    bottom: 100;
    display:inline-flex;
    height: 25px;
    justify-content: space-around;
    align-items: center;
}

footer {
    border: 1px black;
    background-color: blanchedalmond;
    margin-top: 20px;
    height: 50px;
    border-radius: 7px;
    text-align: start;
    display: flex;
    width: 99vw;text-decoration-color: brown;
}

header {
    text-align: center;
    color: blueviolet;
    font-size: medium;font-style: italic;
}

.photography {
    color: blue;
    font-size: medium;
    font-style: oblique;text-align: center;
}
